.prevention-container {
  .title {
    color: white;
    text-align: center;
    animation: godown 1s forwards;
  }
  .content-container {
    margin: 2rem 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: start;
    align-items: center;
    .image-container {
      display: flex;
      justify-content: flex-end;
      img {
        width: 90%;
      }
      animation: appear-right 1s forwards;
    }

    ul {
      animation: appear-left 1s forwards;
      li {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        img {
          width: 50px;
          margin-right: 1rem;
        }
        h2,
        p {
          color: white;
        }
      }
    }
  }
}
@keyframes godown {
  0% {
    transform: translateY(-3rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes appear-left {
  0% {
    transform: translateX(-5rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes appear-right {
  0% {
    transform: translateX(5rem);
  }
  100% {
    transform: translateX(0);
  }
}
@media only screen and (max-width: 600px) {
  .prevention-container {
    .content-container {
      margin: 2rem 0rem;
      justify-items: center;
      ul {
        margin: 0;
      }
      .image-container {
        justify-content: center;
      }
    }
  }
}
