.how-container {
  margin: 4rem;
  animation: goup 1.5s forwards;
  font-size: 16px;
  .question {
    text-align: center;
    margin: 1rem 0;
    color: white;
    font-size: 32px;
  }
  .overview {
    text-align: center;
    color: white;
    margin-bottom: 2rem;
  }
  .main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: start;
    grid-gap: 2rem;

    .case {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      margin-bottom: 2rem;
      height: 100%;
      border-radius: 16px;
      color: white;
      background-color: #2b2d34;
      img {
        height: 200px;
        margin-bottom: 1rem;
      }
      p {
        font-size: 20px;
      }
      p:nth-child(3) {
        margin: 1rem;
      }
      p:nth-child(2) {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .how-container {
    margin: 1rem;
  }
}
