.highcharts-container {
  position: relative;
  width: 100%;
  text-align: left;
  line-height: normal;
  z-index: 0; /* #1072 */
  -webkit-tap-highlight-color: white;
  font-size: 12px;
  text {
    fill: white !important;
    color: white !important;
  }
}
.highcharts-root text {
  stroke-width: 0;
}
.highcharts-background {
  fill: transparent;
}
.highcharts-point {
  span {
    width: 4px;
  }
}
