.live-case__wrapper {
  width: 100%;
  margin-bottom: 2rem;
  .case-title {
    background-color: #979797;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.75rem 2rem;
    h3 {
      color: white;
      font-size: 20px;
      flex: 1 1 50%;
    }
    h3:nth-child(2) {
      text-align: right;
    }
  }
  .livecase-table {
    background-color: #2b2d34;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 1rem;
  }
  .data-cases {
    padding: 1rem 2rem;
    height: 400px;
    overflow-y: scroll;

    .case {
      width: 100%;
      display: flex;
      justify-content: space-between;

      p {
        color: white;
        font-size: 18px;
        flex: 1 1 50%;
      }
      p:nth-child(2) {
        text-align: right;
      }
    }
  }
  .title {
    color: var(--mint);
    text-align: center;
  }
}
