.what-container {
  margin: 1rem 4rem 0;
  padding: 1rem 3rem 1.5rem;
  background-color: #2b2d34;
  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  align-items: center;
  border-radius: 16px;
  animation: goup 1s forwards;
  .image-container {
    img {
      width: 200px;
    }
  }
  .info-container {
    .question {
      text-align: center;
      color: white;
      span {
        color: var(--pink);
      }
      margin-bottom: 1rem;
    }
    .answer {
      font-size: 20px;
    }
  }
}
@keyframes goup {
  0% {
    transform: translateY(3rem);
  }
  100% {
    transform: translateY(0);
  }
}
@media only screen and (max-width: 600px) {
  .what-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 1rem 1rem 0;
    padding: 1rem 1rem;
    .info-container {
      .question {
        font-size: 16px;
      }
      .answer {
        width: 100%;
        font-size: 16px;
      }
    }
  }
}
