.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  margin: 4rem 8rem;
  align-items: center;
  img {
    width: 75%;
    justify-self: end;
  }

  .introduction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
      color: var(--mint);
      font-size: 40px;
      letter-spacing: 5px;
    }
    .text {
      height: 50vh;
    }
    ul {
      display: flex;
      list-style: none;
      li {
        margin: 1rem;
        i {
          color: var(--pink);
          font-size: 40px;
        }
      }
      li:hover {
        i {
          color: var(--mint);
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .container {
    margin: 1rem 2rem;
    .introduction {
      min-height: 75vh;
      ul {
        position: absolute;
        top: -4rem;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    margin: 4rem;
    .introduction {
      width: 100%;
      align-self: start;
      ul {
        margin: 0 auto;
      }
      .text {
        height: 30vh;
      }
    }
  }
}
