.overview-board__container {
  display: grid;
  width: 75%;
  margin: 2rem auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  align-items: center;
  justify-items: center;
  text-align: center;
  font-size: 18px;
  color: black;
  font-weight: bold;
  flex-wrap: wrap;
  div {
    & > p:first-child {
      margin: 0.5rem;
    }
  }
  .case {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    padding: 0.5rem 1rem;
    border-radius: 16px;
    background-color: #2b2d34;
    color: white;
  }
}
@media only screen and (max-width: 1024px) {
  .overview-board__container {
    width: 90%;
    .case {
      width: 100%;
    }
  }
}
