.symptoms-wrapper {
  margin: 4rem;
  display: grid;
  place-items: center;
  .symptoms-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: start;
    justify-items: center;
    grid-gap: 2rem;

    .image-container {
      position: relative;
      padding-right: 2rem;
      img {
        width: 100%;
      }
    }
    .main-content {
      padding-left: 2rem;
      h1 {
        color: white;
        margin-bottom: 2rem;
      }
      p {
        color: white;
        margin-bottom: 2rem;
        font-size: 20px;
      }
      ul {
        list-style: none;
        li {
          img {
            width: 30px;
            margin-right: 1rem;
          }
          display: flex;
          align-items: center;
          margin: 1rem;
          p {
            margin: 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .symptoms-wrapper {
    margin: 2rem 1rem;
    .symptoms-container {
      padding: 0;
      .image-container {
        padding: 1rem;
      }
      .main-content {
        padding: 0;
        ul {
          margin: 1rem;
        }
      }
    }
  }
}
