.world-map {
  margin: 1rem 4rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
  .highcharts-title {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  .world-map {
    margin: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}
