.symptoms-container {
  margin: 1rem 4rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  align-items: start;
  justify-items: center;
  grid-gap: 2rem;
  .image-container {
    position: relative;
    padding-right: 2rem;
    animation: appear-left 1s forwards;
    img {
      width: 100%;
    }
    & .symptom-1,
    .symptom-2,
    .symptom-3,
    .symptom-4,
    .symptom-5,
    .symptom-6 {
      position: absolute;

      color: white;
      font-weight: bold;
      font-size: 20px;
    }
    & .symptom-1 {
      top: 2rem;
      left: 2rem;
    }
    & .symptom-2 {
      bottom: 6.5rem;
      left: 2rem;
    }
    & .symptom-3 {
      top: 0rem;
      right: 6rem;
    }
    & .symptom-4 {
      top: 5.5rem;
      right: 0;
    }
    & .symptom-5 {
      bottom: 15rem;
      right: 0;
    }
    & .symptom-6 {
      bottom: 8rem;
      right: -2rem;
    }
  }
  .main-content {
    padding-left: 2rem;
    animation: appear-right 1s forwards;
    h1 {
      color: white;
      margin-bottom: 2rem;
    }
    p {
      color: white;
      margin-bottom: 2rem;
    }
    ul {
      list-style: none;
      li {
        img {
          width: 30px;
          margin-right: 1rem;
        }
        display: flex;
        align-items: center;
        margin: 1rem;
        p {
          margin: 0;
        }
      }
    }
  }
}
@keyframes appear-left {
  0% {
    transform: translateX(-5rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes appear-right {
  0% {
    transform: translateX(5rem);
  }
  100% {
    transform: translateX(0);
  }
}
