.symptoms-container {
  margin: 1rem 4rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: start;
  justify-items: center;
  grid-gap: 2rem;
  .image-container {
    position: relative;
    padding-right: 2rem;
    animation: appear-left 1s forwards;
    img {
      width: 100%;
    }
  }
  .main-content {
    padding-left: 2rem;
    animation: appear-right 1s forwards;
    h1 {
      color: white;
      margin-bottom: 2rem;
    }
    p {
      color: white;
      margin-bottom: 2rem;
    }
    ul {
      list-style: none;
      li {
        img {
          width: 30px;
          margin-right: 1rem;
        }
        display: flex;
        align-items: center;
        margin: 1rem;
        p {
          margin: 0;
        }
      }
    }
  }
}
@keyframes appear-left {
  0% {
    transform: translateX(-5rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes appear-right {
  0% {
    transform: translateX(5rem);
  }
  100% {
    transform: translateX(0);
  }
}
@media only screen and (max-width: 600px) {
  .symptoms-container {
    margin: 1rem 1rem 0;
    .image-container {
      padding: 1rem;
    }
    .main-content {
      padding: 1rem;
      ul {
        margin: 1rem;
      }
    }
  }
}
